@tailwind base;
@tailwind components;
@tailwind utilities;
div.dreaming {
    background: linear-gradient(#bd93f925,#bd93f9);
    box-shadow: 4px 4px 0 1px rgba(0,0,0,.07);
    border-style: solid;
    border-color: #ff79c6;
    border-radius: 5%;
    border-width: 2px;
    padding: 10px 60px 10px 60px;
    margin-bottom: 20px;
}

a.link {
    color: blue;
}

th.toplinks {
    border-width: 0px;
    padding: 5px;
    padding-top: 30px;
}

p.laststream {
    text-align: center;
}

h1 {
    color: #9c57fd;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}

div.fresh {
    border-radius: 25px;
    background: linear-gradient(#bd93f925,#bd93f9);
    color: white;
    padding: 5px 20px 15px 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }